<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login success</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h3>Hi {{username}}</h3>
<br>

<!--TODO: make this work for lists of classes-->
<table class="w3-table">
    <tr>
        <th>Class Name</th>
        <th>Room</th>
        <th>Days</th>
        <th>Time</th>
    </tr>
    <tr>
        <td>{{classname}}</td>
        <td>{{room}}</td>
        <td>{{days}}</td>
        <td>{{time}}</td>
    </tr>
</table>

</body>
</html>