<!--FROM THE P3 MOCKUPS, AFTER DISPLAYING HOURS IN A TABLE FORMAT, HAVE A DROPDOWN MENU
BELOW THE TABLE GIVING A LIST OF ALL THE OFFICE HOURS IN THE TABLE.

A USER CAN SELECT ONE OF THOSE HOURS AND CLICK A BUTTON THAT SAYS "GENERATE NEW OFFICE HOURS
WHICH PRIORITIZES STUDENTS WHO COULD NOT ATTEND THE CHOSEN OFFICE HOUR
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Generated office hours</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body style="text-align:center">
TODO
</body>
</html>
