<!--FROM THE P3 MOCKUPS, AFTER DISPLAYING HOURS IN A TABLE FORMAT, HAVE A DROPDOWN MENU
BELOW THE TABLE GIVING A LIST OF ALL THE OFFICE HOURS IN THE TABLE.

A USER CAN SELECT ONE OF THOSE HOURS AND CLICK A BUTTON THAT SAYS "GENERATE NEW OFFICE HOURS
WHICH PRIORITIZES STUDENTS WHO COULD NOT ATTEND THE CHOSEN OFFICE HOUR
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Generated office hours</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

<!--Logout button-->
<div class="w3-display-bottommiddle">
    <a href="/logout">Logout</a>
</div>

<div class="w3-display-middle">

    <form method="post" action="/generate_again">
        <table class="w3-table-all w3-centered">
            <caption>Generated hours for {{classname}}</caption>
            <tr>
                <th></th>
                <th>Availability</th>
                <th>Time Slot</th>
            </tr>
            {{#hours}}
                <tr>
                    <td><input class="w3-radio"
                               type="radio"
                               name="timeslot_selection"
                               value="{{index}}"
                               required />
                    </td>
                    <td>{{value.availPercent}}</td>
                    <td>{{value.timeSlot}}</td>
                </tr>
            {{/hours}}
            <tr>
                <td colspan="3"><em>Additional results omitted</em></td>
            </tr>
        </table>

        <div class="w3-dropdown-hover w3-margin">
            <button class="w3-button">Generate more hours for...</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <button class="w3-bar-item w3-button" name="next_page" type="submit" value="same_class">{{classname}}</button>
                <button class="w3-bar-item w3-button" name="next_page" type="submit" value="new_class">New class</button>
            </div>
        </div>

    </form>

</div>
</body>
</html>
