<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Hours</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body style="text-align:center">
<div class="w3-container">
    <h3>Generating office hours for {{class}}...</h3>
</div>

</body>
</html>