<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Select class</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

<!--Logout button-->
<div class="w3-display-bottommiddle w3-padding-32">
    <a href="/logout">Logout</a>
</div>

<div class="w3-display-middle">
    <form action="/select_class" method="post">
        <h2>Hi {{username}}</h2>
        <h3>Select a class to find hours for:</h3>
        {{#classes}}
            <div>
                <input class="w3-radio" type="radio" name="class" required
                       value="{{name}}"
                       id="{{name}}-select">

                <label for="{{name}}-select">{{name}}</label>
            </div>
        {{/classes}}
        <br>
        <button class="w3-btn">Submit</button>
    </form>
</div>

</body>
</html>