<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Select availability</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
<div class="w3-display-middle">
    <form action="/select_availability" method="post">

        <h3>Select available days:</h3>

        <p>
            <input class="w3-check" type="checkbox" id="check-monday">
            <label for="check-monday">Monday</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-tuesday">
            <label for="check-tuesday">Tuesday</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-wednesday">
            <label for="check-wednesday">Wednesday</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-thursday">
            <label for="check-thursday">Thursday</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-friday">
            <label for="check-friday">Friday</label></p>

        <br>
        <h3>Select office hours length:</h3>
        <select class="w3-select" name="length" id="length-select" required>
            <option value="30">30 minutes</option>
            <option value="45">45 minutes</option>
            <option value="60">60 minutes</option>
            <option value="90">90 minutes</option>
            <option value="120">120 minutes</option>
        </select>
        <br>
        <br>
        <button class="w3-btn">Submit</button>
    </form>
</div>
</body>
</html>