<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Select availability</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>

<body>

<!--Logout button-->
<div class="w3-display-bottommiddle w3-padding-32">
    <a href="/logout">Logout</a>
</div>

<!--Requires that at least one checkbox be checked before submitting the form.-->
<!--https://stackoverflow.com/questions/22238368/how-can-i-require-at-least-one-checkbox-be-checked-before-a-form-can-be-submitte-->
<script type="text/javascript">
$(document).ready(function () {
    $('#checkBtn').click(function() {
      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        alert("You must select at least one day.");
        return false;
      }

    });
});

</script>

<div class="w3-display-middle">
    <form action="/select_availability" method="post">

        <h3>Select available days:</h3>

        <div>
            <input class="w3-check" type="checkbox" id="Mon" name="Mon">
            <label for="Mon">Mon</label></div>

        <div>
            <input class="w3-check" type="checkbox" id="Tue" name="Tue">
            <label for="Tue">Tue</label></div>

        <div>
            <input class="w3-check" type="checkbox" id="Wed" name="Wed">
            <label for="Wed">Wed</label></div>

        <div>
            <input class="w3-check" type="checkbox" id="Thu" name="Thu">
            <label for="Thu">Thu</label></div>

        <div>
            <input class="w3-check" type="checkbox" id="Fri" name="Fri">
            <label for="Fri">Fri</label></div>

        <br>
        <h3>Select office hours length:</h3>
        <select class="w3-select" name="length" required>
            <option value="30">30 min</option>
            <option value="60">60 min</option>
            <option value="90">90 min</option>
            <option value="120">120 min</option>
            <option value="120">150 min</option>
            <option value="120">180 min</option>
        </select>
        <br>
        <br>
        <button class="w3-btn" id="checkBtn">Submit</button>
    </form>
</div>
</body>
</html>