<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Select class</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body style="text-align:center">
<div class="w3-display-middle">
    <form action="/select_class" method="post">
        <h2>Hi {{username}}</h2>
        <h3>Select a class to find hours for:</h3>
        {{#classes}}
            <p>
                <input class="w3-radio"
                       type="radio"
                       name="class"
                       value="{{class}}"
                       id="{{class}}-select"
                       required>

                <label for="{{class}}-select">{{class}}</label>
            </p>
        {{/classes}}
        <br>
        <button class="w3-btn">Submit</button>
    </form>
</div>

</body>
</html>