<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoursFinder - Select availability</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body style="text-align:center">
<div class="w3-display-middle">
    <form action="/select_availability" method="post">

        <h3>Select available days:</h3>

        <p>
            <input class="w3-check" type="checkbox" id="check-m">
            <label for="check-m">M</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-tu">
            <label for="check-tu">Tu</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-w">
            <label for="check-w">W</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-tr">
            <label for="check-tr">Tr</label></p>

        <p>
            <input class="w3-check" type="checkbox" id="check-f">
            <label for="check-f">F</label></p>

        <br>
        <h3>Select office hours length:</h3>
        <select class="w3-select" name="length" id="length-select" required>
            <option value="30">30 minutes</option>
            <option value="45">45 minutes</option>
            <option value="60">60 minutes</option>
            <option value="90">90 minutes</option>
            <option value="120">120 minutes</option>
        </select>
        <br>
        <br>
        <button class="w3-btn">Submit</button>
    </form>
</div>
</body>
</html>