<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation system</title>
    <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body style="text-align:center">

<h1>HoursFinder</h1>
<h3>Find the best office hours for your students, fast</h3>

<form action="/login" method="post">
    G Number:<br>
    <input type="text" name="gnumber">
    <br><br>
    <button>Login</button>
</form>
<br>
{{#error}}
<div class="w3-panel w3-red">
    {{error}}
</div>
{{/error}}

</body>
</html>
